<!-- 
$variables['drag_n_drop'] = $view->ajax('drag-n-drop',array(
'url'=>'score-upload.php',
'message'=>'วาง CSV File ที่นี่',
'mode'=>'multiple', // empty or multiple
'css'=>'',
'style'=>'',
'call_back'=>''
));
 -->
<div id="drop-area-{{ajax_id}}" data-done=0 class="drag-n-drop jumbotron drop-area-{{ajax_id}} {{css}} text-center w-100" {{style}}>
	<div class="message-main-{{ajax_id}}">{{message}} หรือ <a class="selector_button_{{ajax_id}}" href="javascript:;">เลือก</a></div>
	<div class="message-{{ajax_id}}"></div>
	<div class="hide">
		<form method="post" enctype="multipart/form-data">
			<input id="selector_button_{{ajax_id}}" data-parent_id=drop-area-{{ajax_id}} name="file[]" type="file" class="file" {{mode}}>
		</form>
	</div>
</div>
<script>

// get all the drag_{{ajax_id}} with drag class
var drag_{{ajax_id}} = $('.drop-area-{{ajax_id}}');
var post_max_size_byte = '50000000';

drag_{{ajax_id}}.number_of_file = 0;

$(function(){
	$('body').on('click','.selector_button_{{ajax_id}}',function(){
		$('#selector_button_{{ajax_id}}').click();
	});
	$("#selector_button_{{ajax_id}}").change(function(){
		var parent_id = $(this).data('parent_id');
		drag_{{ajax_id}}.number_of_file = this.files.length;
		fileProcess_{{ajax_id}}($('#'+parent_id),this.files,post_max_size_byte);
	});
});

// when a drag enter those drag_{{ajax_id}}ects
drag_{{ajax_id}}.on('dragenter', function (e){
	// prevents the event from bubbling up the DOM tree
	e.stopPropagation();
	// prevents the defualt browser behavior
	e.preventDefault();
});

// when the drag is over the drag_{{ajax_id}}ects
drag_{{ajax_id}}.on('dragover', function (e){
	// prevents the event from bubbling up the DOM tree
	e.stopPropagation();
	// prevents the defualt browser behavior
	e.preventDefault();
	// change the background color to gray
	$(this).css('background-color', 'rgb(235,235,235)');
});

// when the drag leave the body
drag_{{ajax_id}}.on('dragleave', function (e){
	// prevents the event from bubbling up the DOM tree
	e.stopPropagation();
	// prevents the defualt browser behavior
	e.preventDefault();
	// change the background color to white
	$(this).css('background-color', '#e9ecef');
});

// when the file(s) are dropped to the dragcontainer
drag_{{ajax_id}}.on('drop', function (e){
	// prevent default behavior  
	e.preventDefault();
	var files = e.originalEvent.dataTransfer.files;
	drag_{{ajax_id}}.number_of_file = files.length;
	fileProcess_{{ajax_id}}($(this),files,'50000000');
});

function fileProcess_{{ajax_id}}(drop_area,files,post_max_size_byte){
	var over_size = false;
	var over_size_output = '';
	var total_size = 0;
	
	if('{{mode}}' != 'multiple' && files.length>1){
		$('.message-{{ajax_id}}',drop_area).html('ส่งข้อมูลได้เพียง 1 ไฟล์เท่านั้นครับ');
		return;
	}
	
	// change the backgroud color back to white
	drop_area.css('background-color', '#e9ecef');
	$('.message-main-{{ajax_id}}',drop_area).hide();
	
	// for each file
	for (var i = 0; i < files.length; i++){
		total_size += files[i].size;
		$('.message-{{ajax_id}}',drop_area).html('เตรียมข้อมูล');
		// check if the file size is greater than the allowed size
		if(files[i].size > post_max_size_byte){
			// if true, then tell the user the maximum size limit 
			over_size_output += files[i].name+'<br>';
			over_size = true;
		}
	}
	
	if(over_size){
		var sizeInMB = (post_max_size_byte / (1024*1024)).toFixed(2);
		$('.message-{{ajax_id}}',drop_area).html('Sorry, the following file(s) is too big.<br>'+over_size_output+'The maximum file size is '+sizeInMB+' MB.<br />');
		return;
	}
			
	// call a function to handle the file
	handleFileUpload_{{ajax_id}}(drop_area,files);
}

// handle file upload
function handleFileUpload_{{ajax_id}}(drop_area,files){
	formdata_loop_{{ajax_id}}(files,drop_area,0);
}

function formdata_loop_{{ajax_id}}(files,drop_area,i){
//	var extension = files[i].name.replace(/^.*\./, '');
// 	if(extension=='csv'){
		var fd = new FormData();
		fd.append('file',files[i]);
		sendFileToServer_{{ajax_id}}(drop_area,fd);
		i++;
		if(files[i] && 'multiple'=='{{mode}}'){ formdata_loop_{{ajax_id}}(files,drop_area,i); }
// 	}else{
// 		//$('.message',drop_area).html('เตรียมส่งข้อมูล');
// 		// create a new form data instant
// 		var fd = new FormData();
// 		var fr = new FileReader();
// 		fr.readAsDataURL(files[i]);
// 		fr.onloadend = function(){
// 			image.resample(this.result,400,null,function(e){
// 			    // add the file to form data
// 			    fd.append('file', image.dataURItoBlob(e));
// 				sendFileToServer_{{ajax_id}}(drop_area,fd);	
// 				i++;
// 				if(files[i]){ formdata_loop_{{ajax_id}}(files,drop_area,i); }
// 			});
// 		};
// 	}
}

// send the file to server
function sendFileToServer_{{ajax_id}}(drop_area,formData){
    // using ajax to send the file
    // get and drag_{{ajax_id}}ect return from ajax
    var jqXHR=$.ajax({
    	// xhr is XMLHttpRequest
    	// this will override the default return drag_{{ajax_id}}ect 
    	// to provide progress information
	    xhr: function(){
	    	// get the xhr setting
            var xhrdrag_{{ajax_id}} = $.ajaxSettings.xhr();
            // if the upload drag_{{ajax_id}}ect is available
            if (xhrdrag_{{ajax_id}}.upload){
            		// listen to the upload progess from the even listener
                    xhrdrag_{{ajax_id}}.upload.addEventListener('progress', function(event) {
                    	// set percent to 0
                        var percent = 0;
                        // get the loaded bytes
                        var position = event.loaded || event.position;
                        // get the total bytes
                        var total = event.total;
                        // the it computable
                        if (event.lengthComputable) {
                        	// calculate percent
                            percent = Math.ceil(position / total * 100);
                        }
                        // show the percent to users
                        $('.message-{{ajax_id}}',drop_area).html('ส่งข้อมูลแล้ว '+percent+'%');
                        if(percent==100){
	                        $('.message-{{ajax_id}}',drop_area).html('ประมวลผล');
                        }
                    }, false);
			}
	        return xhrdrag_{{ajax_id}};
	    },
	    // upload url
	    url: '{{url}}',
	    // type of form submission
	    type: "POST",
	    // do not specify the content type
	    contentType:false,
	    // do not process the data
	    processData: false,
	    // do not cache
	    cache: false,
	    // the data to be sent
	    data: formData,
	    // when the sumission success
	    success: function(data){
	   		if(data){
		   		var number_done = +(drag_{{ajax_id}}.attr('data-done'))+1;
		   		drag_{{ajax_id}}.attr('data-done',number_done);
		   		$('.message-{{ajax_id}}',drag_{{ajax_id}}).html('ส่งข้อมูลแล้ว '+number_done+' จาก '+drag_{{ajax_id}}.number_of_file+' รายการ');
		   		var number_diff = drag_{{ajax_id}}.number_of_file - number_done;
		   		if(number_diff==0){$('#drop-area-{{ajax_id}}').attr('data-done',0); drag_{{ajax_id}}.number_of_file=0; $('.message-main-{{ajax_id}}',drag_{{ajax_id}}).show(); $('.message-{{ajax_id}}',drag_{{ajax_id}}).html('');}
		   		var $this = drag_{{ajax_id}};
		   		{{call_back}}
		   	}else{
		   		$('.message-{{ajax_id}}',drag_{{ajax_id}}).html('มีบางอย่างผิดพลาด กรุณาลองอีกครั้ง');
	   		}
	    }
    });
}
</script>