<!-- 
$variables['get_info'] = $view->ajax('get-info',array(
'url'=>'invitation-change-code.php',
'css'=>'',
'json'=>'{"mode":"change"}'
));
 -->
<a href="javascript:;" class="get_info_{{ajax_id}} {{css}}"></a>
<script>
	function get_info_{{ajax_id}}(json){
		var getting = $.get('{{url}}',json);
		getting.done(function(respond){
			if(respond){
				$('.get_info_{{ajax_id}}').html(respond);
			}
		});
	}
	$(function(){
		get_info_{{ajax_id}}();
		$('body').on('click tap','.get_info_{{ajax_id}}',function(e){
			e.preventDefault();
			e.stopPropagation();
			get_info_{{ajax_id}}({{json}});
		});
	});
</script>