<!-- 
$variables['subject_quick_search_code'] = $view->ajax('quick-search-fill-v2',array(
'title'=>'รหัส*:',
'url'=>'subject-ajax-quick-search-fill.php',
'default_name'=>$default, // ชื่อแสดงที่ใช้เป็นค่าเริ่มต้น
'default_post_value'=>$default, // value ที่ใช้เป็นค่าเริ่มต้น
'css_title'=>'col-3',
'css_input'=>'col-9',
'display_pattern'=>'{{code}}',
'column_id'=>'name',
'post_name'=>'code', // column ที่ใช้ส่งข้อมูลไป db
'placeholder'=>'กรอกชื่อที่นี่',
'limit'=>3
));
 -->
<div id="choosen-{{ajax_id}}" class="{{css_input}} hide">
	<a id="change-{{ajax_id}}" href="javascript:;">{{default_name}}</a>
</div>
<div id="choosing-{{ajax_id}}" class="{{css_input}}">
	<input id="quick_search_name_{{ajax_id}}" name="{{post_name}}" value="{{default_post_value}}" class="form-control" type="text" placeholder="{{placeholder}}">
	<div id="choose-{{ajax_id}}">
	</div>
</div>
<div id="quick_search_id_{{ajax_id}}_show" class="row hide">
	<div class="">
		<a href="javascript:;" data-id="{{{{column_id}}-{{ajax_id}}}}" class="select-one-{{ajax_id}}">
			{{display_pattern}}
		</a>
	</div>
</div>
<script>
$(function(){
	var url = '{{url}}?rand='+Math.random();
	var input_name = 'quick_search_name_{{ajax_id}}';
	var input_id = 'quick_search_id_{{ajax_id}}';
	var the_id = 'quick_search_id';
	var block_name = 'quick_search_id_{{ajax_id}}_show';
	var go_through_array_{{ajax_id}} = function(data,i){
		var val=data[i];
		view.add(block_name,'choose-{{ajax_id}}',{{ajax_id}},val,function(){
			i++;
			if(data[i]){
				go_through_array_{{ajax_id}}(data,i);
			}
		});
	};
	
	var php_data = '{{default_name}}';
	if(php_data){
		$('#choosing-{{ajax_id}}').hide();
		$('#choosen-{{ajax_id}}').show();
	}

	$('body').on('keyup','#'+input_name,function(){
		$('#choose-{{ajax_id}}').html('');
		var txt = $('#'+input_name).val();
		var limit = {{limit}};
		var posting = $.post( url, { 'q': txt, 'limit': limit, 'type':'quick-search-fill'} );
		posting.done(function( data ) {
			if(data[0]){
				go_through_array_{{ajax_id}}(data,0);
			}
		});
	});
	
	// ใส่ชื่อใน Input
	$('body').on('keyup change','#quick_search_name_{{ajax_id}}',function(){
		var name = $.trim($(this).val());
		$('#quick_search_id_{{ajax_id}}').val(name);
	});
	
	// ใส่ชื่อใน Form
	$('body').on('click tap','.select-one-{{ajax_id}}',function(){
		var name = $.trim($(this).text());
		$('#quick_search_name_{{ajax_id}}').val(name);
		$('.select-one-{{ajax_id}}').hide();
	});

	// เปลี่ยนชื่อ
	$('body').on('click tap','#change-{{ajax_id}}',function(){
		$('#choosen-{{ajax_id}}').html('');
		$('input[name="'+input_id+'"]').val('');
		$('#choosen-{{ajax_id}}').hide();
		$('#choosing-{{ajax_id}}').show();
		$('#quick_search_name_{{ajax_id}}').focus();
	});	

});
</script>