<!-- 
$variables['teacher_quick_search'] = $view->ajax('quick-search-id',array(
'title'=>'ครูผู้สอน*:',
'url'=>'teacher-ajax-quick-search-id.php',
'default_name'=>$default_name, // ชื่อแสดงที่ใช้เป็นค่าเริ่มต้น
'default_post_value'=>$default_value, // value ที่ใช้เป็นค่าเริ่มต้น
'css_title'=>'col-3',
'css_input'=>'col-9',
'display_pattern'=>'{{title}}{{first_name}} {{last_name}}',
'column_id'=>'user_id', // column ที่ใช้รับข้อมูลจาก db
'post_name'=>'teacher_id', // column ที่ใช้ส่งข้อมูลไป db
'placeholder'=>'กรอกชื่อที่นี่',
'limit'=>3
));
 -->

<div class="row justify-content-center">
	<div class="{{css_title}}">
		{{title}}
	</div>
	<div id="choosen-{{ajax_id}}" class="{{css_input}} hide">
		<a id="change-{{ajax_id}}" href="javascript:;">{{default_name}}</a>
	</div>
	<div id="choosing-{{ajax_id}}" class="{{css_input}}">
		<input id="quick_search_name_{{ajax_id}}" class="form-control" type="text" placeholder="{{placeholder}}">
		<div id="choose-{{ajax_id}}" class="col-12">
		</div>
	</div>
	<input id="quick_search_id_{{ajax_id}}" name="{{post_name}}" value="{{default_post_value}}" type="hidden">
	<div id="quick_search_id_{{ajax_id}}_show" class="row hide">
		<div class="">
			<a href="javascript:;" data-id="{{{{column_id}}-{{ajax_id}}}}" class="select-one-{{ajax_id}}">
				{{display_pattern}}
			</a>
		</div>
	</div>
	<script>
	$(function(){
		var json = {{json}};
		var url = '{{url}}?rand='+Math.random();
		var input_name = 'quick_search_name_{{ajax_id}}';
		var input_id = 'quick_search_id_{{ajax_id}}';
		var the_id = 'quick_search_id';
		var block_name = 'quick_search_id_{{ajax_id}}_show';
		var go_through_array = function(data,i){
			var val=data[i];
			view.add(block_name,'choose-{{ajax_id}}',{{ajax_id}},val,function(){
				i++;
				if(data[i]){
					go_through_array(data,i);
				}
			});
		};
		
		var php_data = '{{default_name}}';
		if(php_data){
			$('#choosing-{{ajax_id}}').hide();
			$('#choosen-{{ajax_id}}').show();
		}

		$('body').on('keyup','#'+input_name,function(){
			$('#choose-{{ajax_id}}').html('');
			var txt = $('#'+input_name).val();
			if(!json.type){ json.type='quick-search-id'; }
			json.q=txt;
			var posting = $.post( url, json);
			posting.done(function( data ) {
				if(data[0]){
					go_through_array(data,0);
				}
			});
		});

		// ใส่ชื่อใน Form
		$('body').on('click tap','.select-one-{{ajax_id}}',function(){
			var this_id = $(this).data('id');
			var name = $(this).text();
			$('#quick_search_id_{{ajax_id}}').val(this_id);
			$('#choosen-{{ajax_id}}').html('<a id="change-{{ajax_id}}" href="javascript:;">'+name+'</a>');
			$('#choosen-{{ajax_id}}').show();
			$('#choosing-{{ajax_id}}').hide();
		});

		// เปลี่ยนชื่อ
		$('body').on('click tap','#change-{{ajax_id}}',function(){
			$('#choosen-{{ajax_id}}').html('');
			$('input[name="'+input_id+'"]').val('');
			$('#choosen-{{ajax_id}}').hide();
			$('#choosing-{{ajax_id}}').show();
			$('#quick_search_name_{{ajax_id}}').focus();
		});	

	});
	</script>
</div>