<!-- 
$variables['list'] = $view->ajax('show-more',array(
'url'=>'user-list-show-more.php',
'block'=>'user-list',
'json'=>'{"limit":"2","offset":"0","order_by":"id","sort":"asc"}'
));
 -->
<div class="row justify-content-center">
	<div class="col-12">
	<form id="search-{{ajax_id}}" class="text-center">
		  <div class="form-group">
			<input type="text" class="form-control text-center" placeholder="ค้นหา">
			<small class="form-text text-muted">{{subtitle}}</small>
		  </div>
	</form>
	</div>
	<div id="search-result-{{ajax_id}}" class="col-12 text-center"></div>
	<div id="search-hr-{{ajax_id}}" class="col-12 text-center" style="display:none;">
		<hr class="colorgraph  mt-0">
	</div>
	<script>
	$(function(){
		var json = {{json}};
		var go_through_array_{{ajax_id}} = function(data,i){
			var val=data[i];
			view.append('block/{{block}}','search-result-{{ajax_id}}',val,function(){
				i++;
				if(data[i]){
					go_through_array_{{ajax_id}}(data,i);
				}
			});
		};
		$('#search-{{ajax_id}}').submit(function(e){
			e.preventDefault();
			$('#search-result-{{ajax_id}}').html('');
			var q = $(this).find('input').val();
			if(!q){
				$('#search-result-{{ajax_id}}').html('');
				$('#search-hr-{{ajax_id}}').hide();
				return;
			}
			json.q=q;
			if(!json.type){ json.type='search-div'; }
			var post = $.post('{{url}}',json);
			post.done(function(data){
				if(data[0]){
					go_through_array_{{ajax_id}}(data,0);
					
				}else{
					$('#search-result-{{ajax_id}}').html('<div class="mb-3">ไม่พบข้อมูลครับ</div>');
				}
				$('#search-hr-{{ajax_id}}').show();
			});
		});
	});
	</script>
</div>