<!-- 
$variables['list'] = $view->ajax('show-all',array(
'url'=>'user-list-show-all.php',
'block'=>'user-list',
'json'=>'{"limit":"2","offset":"0","order_by":"id","sort":"asc"}'
));
 -->
<div class="col-12 p-0 m-0" id="show-all-{{ajax_id}}">
</div>
<script>
	$(function(){
		var json = {{json}};
		var url = '{{url}}?rand='+Math.random();
		var offset = {{offset}};
		var limit = {{limit}};
		var go_through_array_{{ajax_id}} = function(data,i){
			var val=data[i];
			view.append('block/{{block}}','show-all-{{ajax_id}}',val,function(){
				i++;
				if(data[i]){
					go_through_array_{{ajax_id}}(data,i);
				}
			});
		};
		var ajax_show_{{ajax_id}} = function(url,limit,offset){
			json.offset=+json.offset+offset;
			if(!json.type){ json.type='show-all'; }
			var posting = $.post( url, json);
			posting.done(function(data) {
				if(data.length>0){
					if(data.length<limit){
						$('#load-more-{{ajax_id}}').hide();
					}
					var i=0;
					go_through_array_{{ajax_id}}(data,0);
				}else{
					$('#load-more-{{ajax_id}}').hide();
					{{call_back}}
				}
			});
		};
		ajax_show_{{ajax_id}}(url,limit,offset);
		
		$('body').on('click tap','#load-more-{{ajax_id}}',function(){
			offset=offset+limit;
			ajax_show_{{ajax_id}}(url,limit,offset);
		});
	});
</script>
