<!-- 
$variables['list'] = $view->ajax('show-more',array(
'url'=>'user-list-show-more.php',
'block'=>'user-list',
'json'=>'{"limit":"2","offset":"0","order_by":"id","sort":"asc"}'
));
 -->
<div>
	<div id="show-more-{{ajax_id}}" class="d-inline">
	</div>
	<div id="load-more-{{ajax_id}}" class="d-inline">
		<div class="text-center d-inline-block mr-2 mb-2" style="width:58px;">
			<div><a href="javascript:;" style="color:inherit;">
					<i class="fas fa-ellipsis-h"></i>
				 </a>
			</div>
			<div style="overflow:hidden;white-space: nowrap;">ดูเพิ่ม</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		var json = {{json}};
		var url = '{{url}}?rand='+Math.random();
		var offset = {{offset}};
		var limit = {{limit}};
		var go_through_array_{{ajax_id}} = function(data,i){
			var val=data[i];
			view.append('block/{{block}}','show-more-{{ajax_id}}',val,function(){
				i++;
				if(data[i]){
					go_through_array_{{ajax_id}}(data,i);
				}
			});
		};
		var ajax_show_{{ajax_id}} = function(url,limit,offset){
			json.offset=offset;
			if(!json.type){ json.type='show-more'; }
			var posting = $.post( url, json);
			posting.done(function(data) {
				if(data.length>0){
					if(data.length<limit){
						$('#load-more-{{ajax_id}}').removeClass('d-inline');
						$('#load-more-{{ajax_id}}').css('display','none');
					}
					var i=0;
					go_through_array_{{ajax_id}}(data,0);
				}else{
					$('#load-more-{{ajax_id}}').removeClass('d-inline');
					$('#load-more-{{ajax_id}}').css('display','none');
					{{call_back}}
				}
			});
		};
		ajax_show_{{ajax_id}}(url,limit,offset);
		
		$('body').on('click tap','#load-more-{{ajax_id}}',function(){
			offset=offset+limit;
			ajax_show_{{ajax_id}}(url,limit,offset);
		});
	});
</script>