<!-- 
$status_show = $view->ajax('toggle-status',array(
'url'=>'ajax-user-status-edit.php?id='.$id,
'active_message'=>'Active',
'inactive_message'=>'Inactive',
'css'=>'',
'default_status'=>$user_infos['status']
));
 -->
<a class="ajax-toggle-status-{{ajax_id}} status-green-{{ajax_id}} hide {{css}}" style="color:green;" href="javascript;">{{active_message}}</a>
<a class="ajax-toggle-status-{{ajax_id}} status-red-{{ajax_id}} hide {{css}}" style="color:red;" href="javascript;">{{inactive_message}}</a>
<script>
	var default_status = '{{default_status}}';
	if(default_status=='1'){
		$('.status-green-{{ajax_id}}').show();
	}else{
		$('.status-red-{{ajax_id}}').show();
	}
	$('body').on('click tap','.ajax-toggle-status-{{ajax_id}}',function(e){
		e.preventDefault();
		e.stopPropagation();
		var $this = $(this);
		var getting = $.get('{{url}}');
		getting.done(function(respond){
			if(respond==1){
				$this.html('<a class="ajax-toggle-status-{{ajax_id}} status-green-{{ajax_id}} {{css}}" style="color:green;" href="javascript;">{{active_message}}</a>');
			}
			if(respond=='-1'){
				$this.html('<a class="ajax-toggle-status-{{ajax_id}} status-red-{{ajax_id}} {{css}}" style="color:red;" href="javascript;">{{inactive_message}}</a>');
			}
			if(respond!='-1' && respond!=1){
				$this.html(respond);
			}
		});
	});
</script>