<!-- 
$variables['head'] = '
<link rel="stylesheet" href="'.$path_to_core.'croppie/css/croppie.css" />
<script src="'.$path_to_core.'croppie/js/croppie.js"></script>';

$variables['upload-image'] = $view->ajax('image-upload',array(
'url'=>'profile-ajax.php',
'css'=>'',
'json'=>'{}'
));
 -->
<a id="upload-image-select-{{ajax_id}}" class="{{css}}" href="javascript:;"><i style="font-size: 0.7em;" class="fas fa-pencil-alt"></i> แก้ไข</a>
<div id="upload-image-form-{{ajax_id}}" class="hide">
	<form method="post" enctype="multipart/form-data">
		<input name="file" data-parent_id="key" type="file" class="file">
	</form>
</div>
<script>
	$(function(){
		$('body').on('click tap','#upload-image-select-{{ajax_id}}',function(e){
			e.preventDefault();
			e.stopPropagation();
			$('#upload-image-form-{{ajax_id}} input.file').click();
		});
		$('#upload-image-form-{{ajax_id}} input.file').change(function(){
			// create a new form data instant
			var fd = new FormData();
			if(this.files[0]['type'] == 'image/jpeg' || this.files[0]['type'] == 'image/png'){
				fd.append('file', this.files[0]);
				fd.append('type','image-upload');
				var json = {{json}};
				if(json){
					$.each(json,function(key,value){
						fd.append(key, value);
					});
				}
				$.ajax({
					url : "{{url}}",
					type: "POST",
					data : fd,
					processData: false,
					contentType: false,
					success:function(data){
						{{call_back}}
					},
					error:function(XMLHttpRequest, textStatus, errorThrown) { 
						console.log(XMLHttpRequest); 
 					}
				});
			}else{
				alert('รบกวนเป็น .jpg หรือ .png นะครับ');
			}
		});
	});
</script>