<div class="text-center" style="padding-top: 10%; height: 170px;">
	<i style="font-size:150px;" class="fas fa-lock"></i>
	<div style="color:white; position: relative;bottom:70px; font-size:45px;">Locked</div>
</div>
<div class="text-center" style="padding-top: 10%;position: relative; height: 300px;">
	คุณไม่มีสิทธิ์เข้าใช้หน้านี้ครับ
</div>