<div class="text-center" style="padding-top: 10%; height: 170px;">
	<i style="font-size:150px;" class="fas fa-exclamation-triangle"></i>
</div>
<div class="text-center" style="padding-top: 10%;position: relative; height: 300px;">
	มีบางอย่างผิดพลาดครับ
</div>