<div style="height:60px;">
	&nbsp;
</div>
<div class="footer p-2">
	<div >
		<div class="text-center">{{f1}}</div>
	</div>
	<div >
		<div class="text-center"> 
			<div class="d-block d-md-inline-block"> 
				&copy; <script type="text/javascript">
					var dteNow = new Date();
					var intYear = dteNow.getFullYear();
					document.write(intYear);
				</script> Pongsit 
			</div>
			<div class="d-block d-md-inline-block">
				<a href="{{path_to_vendor}}pongsit/auth/signup.php">สมัครสมาชิก</a> | 
				<a href="{{path_to_vendor}}pongsit/auth/login.php">เข้าสู่ระบบ</a>
			</div>
		</div>
	</div>
</div>