<div style="height:60px;">
	&nbsp;
</div>
<div class="footer">
	<div class="row">
		<div class="col-12 text-center">{{f1}}</div>
		<div class="col-12 text-center"> &copy; <script type="text/javascript">
				var dteNow = new Date();
				var intYear = dteNow.getFullYear();
				document.write(intYear);
			</script> Pongsit <span class="sm-show"></span>
		</div>
	</div>
</div>