<nav class="navbar sticky-top navbar-expand-md navbar-light mb-2">
	<a class="navbar-brand text-white" href="{{baseurl}}{{home}}">
		<img src="{{logo}}" class="mr-2 mt-1 mb-1" height="45px;" alt=""> 
		{{page-name}}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav d-none d-md-inline mr-auto">
			<li class="nav-item active">
				&nbsp;
			</li>
		</ul>
		{{menu-search}}
		<ul class="navbar-nav">
			{{menu-super-admin}}
			{{menu-everyone}}
			{{menu-role}}
			{{menu-user}} 
		</ul>
	</div>
</nav>
