<div class="container-fluid">
	<div class="row mt-2">
		<div class="col">
			<div class="d-flex mt-3 mb-3">
				<div class="mr-1 mr-sm-0" style="width:100px;">
					<a href="{{baseurl}}index.php"><img style="height:75px;" src="{{logo}}" /></a>
				</div>
				<div class="flex-fill">
					{{site_name}}<br>
					<em>{{site_description}}</em>
				</div>
			</div>
		</div>
	</div>
</div>