<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>{{site_name}}</title>
	<meta name="description" content="{{site_description}}">
	<meta name="author" content="{{site_author}}">
	
	<!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="{{favicon}}">
	
	<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->	
	<style>
		{{font}}
	</style>
	
	<!-- favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="{{favicon}}">
	<link rel="apple-touch-icon" type="image/png" href="{{favicon}}">
  
  	<!-- jquery –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="{{path_to_core}}jquery/js/jquery.js"></script>

	<!-- bootstrap –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{path_to_vendor}}twbs/bootstrap/dist/css/bootstrap.css">
	<script src="{{path_to_vendor}}twbs/bootstrap/dist/js/bootstrap.js"></script>

	<!-- fontawesome –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{path_to_vendor}}fortawesome/font-awesome/css/all.css">

	<!-- style –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{{style}}

	<script>
		var path_to_root = '{{path_to_root}}';
		var path_to_core = '{{path_to_core}}';
		var path_to_vendor = '{{path_to_vendor}}';
		var path_to_app = '{{path_to_app}}';
		var app = '{{app}}';
		var current_url = '{{current_url}}';
	</script>
	<script src="{{path_to_core}}view/js/view.js" type="text/javascript"></script>
	<script src="{{path_to_core}}system/js/number.js" type="text/javascript"></script>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "{{site_type}}",
			"author" : { "@type" : "Person", "name" : "{{site_author}}" },
			"image" : "{{google-search-result-image}}",
			"name": "{{site_name}}", 
			"logo": "{{logo}}"
		}
	</script>

	{{head}}

</head>
<body style="{{body_style}}">
	{{header}}
	<div class="container-fluid">
		{{notification}}
	</div>
	<div id="main-container" class="container-fluid">
		{{h1}}
		{{content}}
	</div>
	{{footer}}	
</body>
</html>