<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Super Admin
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" href="{{path_to_core}}user/list.php">รายชื่อผู้ใช้</a>
		<a class="dropdown-item" href="{{path_to_core}}user/insert.php">เพิ่มผู้ใช้</a>
		<a class="dropdown-item" href="{{path_to_core}}profile/column-list.php">ข้อมูลผู้ใช้</a>
		<a class="dropdown-item" href="{{path_to_core}}role/index.php">บทบาท</a>
		<a class="dropdown-item" href="{{path_to_core}}system/phpinfo.php">phpinfo</a>
		<a class="dropdown-item" href="{{path_to_core}}site/setting.php">ตั้งค่า</a>
	</div>
</li>
