<li>
	<a class="nav-link dropdown-toggle mb-2" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<img src="{{profile_image}}?v={{image_version}}" class="rounded-circle" width="40" height="40" alt="">
	</a>
	<div class="dropdown-menu dropdown-menu-right mb-3" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" href="{{path_to_core}}user/info.php?id={{user_id}}">{{username}}</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{{path_to_vendor}}pongsit/auth/logout.php">ออก</a> 
	</div>
</li>